body{
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.todo-container, .counter-container{
    width: 300px;   
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo-text{
    margin-left: 5px;
}
.todo-button{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    border: none;
    transition: 0.2s ease-in-out;
}

.todo-button:hover{
    background-color: #000000;
    color: #fff;
}

.counter-container{
    margin-bottom: 20px;
}